@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700&display=swap");
@font-face {
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: #455A64;
  font-weight: 700;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color: #802E87;
  font-weight: 700;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #455A64;
}

@media only screen and (max-width: 920px) {
  h1 {
    font-size: 30px;
  }
}

@media (min-width: 768px) and (max-width: 800px) {
  h1 {
    font-size: 50px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  h1 {
    font-size: 35px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  h1 {
    font-size: 50px;
  }
  .text-hero {
    text-align: center;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fff;
  font-family: 'Montserrat', sans-serif;
}

.u-center-text {
  text-align: center !important;
}

.u-auto-margin {
  margin: auto;
}

.u-padding-rightbig {
  padding-right: 50px;
}

.btn-principal {
  background-color: #FC0075;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  border: 2px solid #fff;
}

.btn-principal:hover {
  background-color: #fff;
  color: #FC0075;
  border: 2px solid #FC0075;
}

/*Carousel Desktop*/
.carousel-control-next {
  right: 0;
  display: none;
}

/*Owl Carousel Responsive*/
.owl-theme .owl-dots .owl-dot span {
  width: inherit;
  height: inherit;
  padding: 0 5px;
  margin: 5px 2px;
  background: transparent;
  color: #fff;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  letter-spacing: 0px;
  font-size: 17px;
  font-weight: 100;
}

#owl-carousel-responsive-home .owl-carousel.item img {
  height: 100vh !important;
  width: 100% !important;
}

#owl-carousel-responsive-home .item {
  background-image: url("../img/bgresponsive.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

#owl-carousel-responsive-home .owl-dots {
  position: absolute;
  bottom: 10px;
  left: 15px;
  right: 15px !important;
}

.item-caption {
  position: absolute;
  left: 15px;
  right: 15px;
  margin-top: -20px;
}

.owl-prev span {
  font-size: 30px;
  color: #fff;
}

.owl-next span {
  font-size: 30px;
  color: #fff;
}

@media (min-width: 768px) {
  .carousel-caption {
    position: absolute;
    top: 35% !important;
    bottom: 220px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .carousel-caption {
    bottom: 100px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .owl-nav {
    display: none;
  }
  #owl-carousel-responsive-home .gradients-bg-responsive {
    background: rgba(255, 255, 251, 0.575);
    width: 100%;
    height: 100%;
  }
  #owl-carousel-responsive-home .item {
    height: 400px !important;
  }
  .item-caption {
    top: 45% !important;
  }
  .title-carousel-responsive {
    font-size: 32px !important;
  }
  .subtitle-carousel-responsive {
    color: #fff !important;
    font-size: 17px !important;
  }
}

@media (min-width: 768px) and (max-width: 800px) {
  .item {
    height: 400px !important;
  }
  .item-caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 40% !important;
  }
  #owl-carousel-responsive-home .gradients-bg-responsive {
    background: rgba(255, 255, 251, 0.575);
    width: 100%;
    height: 100vh;
  }
}

/*Landscape*/
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  .owl-dots {
    position: absolute;
    bottom: -10px;
    left: 15px;
    right: 15px !important;
  }
  .item-caption {
    margin-top: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #owl-carousel-responsive-home .owl-dots {
    bottom: 85px;
  }
  #owl-carousel-responsive-home .gradients-bg-responsive {
    background: rgba(255, 255, 251, 0.575);
    width: 100%;
    min-height: 100px;
  }
  .owl-theme .owl-nav {
    margin-top: 0px !important;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .text-hero {
    margin-top: -10px;
    position: absolute;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  #owl-carousel-responsive-home .gradients-bg-responsive {
    height: 125vh;
  }
}

.myaccordion {
  max-width: 950px;
  margin: 50px auto;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.myaccordion .card {
  border: none;
}

.myaccordion .card:last-child .card-header {
  border: none;
}

.myaccordion .card-header {
  border-bottom-color: #edeff0;
  background: transparent;
}

.myaccordion .fa-stack {
  font-size: 18px;
}

.myaccordion .btn {
  width: 100%;
  font-weight: bold;
  color: #FC0075;
  padding: 0;
}

.myaccordion .btn p {
  color: #802E87;
}

.myaccordion .btn-link:hover, .myaccordion .btn-link:focus {
  text-decoration: none;
}

.myaccordion li + li {
  margin-top: 10px;
}

.btn.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
}

.btn:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
}

#accordion ul {
  list-style: none;
}

li {
  color: #777777;
}

li:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 7.5px;
  background-color: #802E87;
  left: 40px;
  margin-top: 5px;
  position: absolute;
}

.card {
  border-radius: 1.25rem !important;
}

.card-header {
  border-bottom: 0px solid rgba(0, 0, 0, 0.125);
}

@media screen and (max-width: 1366px) {
  li {
    color: #777777;
    font-size: 0.9em;
  }
  li:before {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 7.5px;
    background-color: #802E87;
    left: 40px;
    margin-top: 5px;
    position: absolute;
  }
}

@media screen and (max-width: 900px) {
  li {
    color: #777777;
    font-size: 0.9em;
  }
  li:before {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 7.5px;
    background-color: #802E87;
    left: 10px;
    margin-top: 5px;
    position: absolute;
  }
  #accordion p {
    font-size: 0.8em;
    text-align: left;
    margin-top: 15px;
  }
}

.navbar-color {
  background-color: #fff;
}

.navbar-transparent {
  background: rgba(255, 255, 255, 0.912);
}

.logo {
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.tiny .logo {
  width: 11.8em !important;
  height: 2.5em !important;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.logo {
  width: 15em;
}

@media only screen and (max-width: 920px) {
  .logo {
    width: 15em;
  }
}

main .bg-footer {
  background-color: #455A64;
  padding: 30px 490px 30px 490px;
}

.contenedor-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor-footer p {
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 1366px) {
  main .bg-footer {
    padding: 30px 100px 60px 100px;
  }
  main .contenedor-footer {
    padding: 30px 0px 30px 0px;
  }
}

@media screen and (max-width: 900px) {
  main .bg-footer {
    padding: 15px 20px 0px 20px;
    margin: auto;
  }
  .contenedor-footer p {
    margin: 10px 10px;
  }
}

main .section-info {
  background-color: #802E87;
  padding: 30px 490px 60px 490px;
}

.contenedor-informacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contenedor-informacion p {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #fff;
}

.contenedor-informacion p:last-child {
  padding-left: 120px;
  padding-right: 129px;
}

.contenedor-informacion .titulo {
  color: #fff;
  font-size: 30px;
  text-align: center;
}

.contenedor-informacion .line {
  border: 3px solid #fff;
  border-radius: 1px;
}

.titulo {
  color: #fff;
  font-size: 60px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1440px) {
  main .section-info {
    background-color: #802E87;
    padding: 30px 100px 60px 100px;
  }
}

@media screen and (max-width: 1366px) {
  main .section-info {
    background-color: #802E87;
    padding: 30px 100px 60px 100px;
  }
}

@media screen and (max-width: 900px) {
  main .section-info {
    background-color: #802E87;
    padding: 15px 20px 0px 20px;
    margin: auto;
  }
  .contenedor-informacion .line {
    width: 280px;
    margin: auto;
  }
  .contenedor-informacion p {
    margin: 10px 10px;
  }
  .contenedor-informacion p:last-child {
    padding-left: 10px;
    padding-right: 10px;
  }
}
/*# sourceMappingURL=main.css.map */