.myaccordion {
  max-width: 950px;
  margin: 50px auto;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);

  .card {
    border: none;

    &:last-child .card-header {
      border: none;
    }
  }

  .card-header {
    border-bottom-color: #edeff0;
    background: transparent;
  }

  .fa-stack {
    font-size: 18px;
  }

  .btn {
    width: 100%;
    font-weight: bold;
    color: $color-primary;
    padding: 0;
  }

  .btn p {
    color: $color-secondary;
  }

  .btn-link {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  li + li {
    margin-top: 10px;
  }
}

.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
}
.btn {
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(0, 123, 255, 0.25);
  }
}

#accordion {
  ul {
    list-style: none;
  }
}
li {
  color: $color-gray-light;
  &:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 7.5px;
    background-color: $color-secondary;
    left: 40px;
    margin-top: 5px;
    position: absolute;
  }
}

.card {
  border-radius: 1.25rem !important;
}

.card-header {
  border-bottom: 0px solid rgba(0, 0, 0, 0.125);
}


@media screen and(max-width: 1366px) {
  li {
    color: $color-gray-light;
    font-size: 0.9em;
    &:before {
      content: "";
      display: inline-block;
      width: 7px;
      height: 7px;
      border-radius: 7.5px;
      background-color: #802E87;
      left: 40px;
      margin-top: 5px;
      position: absolute;
    }
  }
}
@media screen and (max-width:900px) {
  li {
    color: $color-gray-light;
    font-size: 0.9em;
    &:before {
      content: "";
      display: inline-block;
      width: 7px;
      height: 7px;
      border-radius: 7.5px;
      background-color: #802E87;
      left: 10px;
      margin-top: 5px;
      position: absolute;
    }
  }

  #accordion p{
    font-size: 0.8em;
    text-align: left;
    margin-top:15px;
  }
}

@media screen and (min-width:768px) {

}